<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-wap-web-app-capable" content="yes"/>
    <meta name="apple-wap-web-app-status-bar-style" content="black-translucent"/>
    <title>车务查询系统</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body ng-app='ngRouteExample' style="background-color: #F0F0F0;margin: 0px;padding: 0px;">

<div ui-view></div>
<script th:src="@{/js/jquery.js}"></script>
<!--<script th:src="@{/js/fastclick.js}"></script>-->

<!--<script th:src="@{/js/angularjs/require.js}"></script>-->
<script th:src="@{/js/angularjs/ionic.bundle.js}"></script>
<script th:src="@{/js/angularjs/angular.js}"></script>
<!--<script th:src="@{/js/angularjs/angular-route.js}"></script>-->
<script th:src="@{/js/angularjs/angular-ui-route.js}"></script>
<script th:src="@{/js/angularjs/angular-animate.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script>
//    $(function () {
//        FastClick.attach(document.body);
//    });
</script>
</body>
</html>