@charset "UTF-8";
body {
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    background-color: #f0f0f0;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    border: 0px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #f00;
}

.clear {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.ui-slider {
    padding-top: 40%;
}

.in-top {
    height: 40px;
    padding: 0 10px;
    background: #1c1c20;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
}

.in-top h3 {
    float: left;
    font-size: 15px;
}

.in-top p {
    float: right;
}

.in-top p a {
    color: #fff;
}

.menu-box {
    overflow: hidden;
    background: #fff;
}

.menu-box li {
    width: 25%;
    float: left;
    text-align: center;
}

.menu-box li a {
    display: block;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
}

.menu-box li img {
    width: 48px;
}

.notice-box {
    height: 50px;
    padding-left: 70px;
    background: #fff;
    position: relative;
}

.notice-box h3 {
    width: 55px;
    padding: 13px 0 0 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.notice-box h3 img {
    width: 42px;
}

.notice-box ul {
    padding: 7px 10px 0 0;
}

.notice-box li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #7a7a7a;
}

.notice-box li a {
    color: #7a7a7a;
}

.notice-box li span {
    width: 4px;
    height: 4px;
    float: left;
    margin: 7px 4px 0 0;
    border-radius: 50%;
    background: #f74c31;
    overflow: hidden;
}

.mycar {
    margin-top: 10px;
    background: #fff;
}

.mcar-info {
    padding-left: 15px;
    overflow: hidden;
}

.mcar-info span {
    float: right;
    padding: 20px 15px 20px 0;
}

.mcar-info span button {
    padding: 0 8px;
    font-size: 14px;
}

.mcar-info span i {
    width: 12px;
    float: right;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}

.mcar-info h3 {
    padding: 13px 0 5px 0;
    line-height: 21px;
    font-size: 18px;
    color: #494949;
}

.mcar-info h3 img {
    width: 21px;
    float: left;
    margin-right: 5px;
}

.mcar-info p {
    font-size: 13px;
    color: #666;
}

.mcar-info p em {
    font-style: normal;
    color: #f53c3c;
}

.mcar-more {
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.mcar-more a {
    display: block;
    color: #58c1fe;
    font-size: 14px;
}

.mcar-more i {
    display: inline-block;
    line-height: 38px;
    font-size: 22px;
    color: #58c1fe;
    vertical-align: middle;
}

.ywbox {
    margin-top: 10px;
    background: #fff;
}

.yw-title {
    height: 40px;
    background: url(../images/titlebg.png) no-repeat center center;
    background-size: 160px 2px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #666;
}

.yw-list ul {
    overflow: hidden;
}

.yw-list li {
    width: 50%;
    height: 163px;
    float: left;
}

.yw-list li a {
    height: 100%;
    display: block;
}

.yw-list li img {
    max-width: 100%;
    display: block;
    margin: 0;
}

.yw-lpad {
    padding: 16px 1px 0 16px;
}

.yw-rpad {
    height: 81px;
}

.yw-rpad a {
    display: block;
    padding: 15px 1px 0 13px;
}

.mbanner {
    margin-top: 10px;
}

.mbanner img {
    display: block;
    margin: 0;
}

.box-title {
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    overflow: hidden;
}

.box-title em {
    width: 2px;
    height: 12px;
    float: left;
    margin: 14px 7px 0 0;
    background: #22a9ff;
    overflow: hidden;
}

.box-title span {
    float: right;
}

.box-title span a {
    color: #999;
    font-size: 13px;
}

.box-title span i {
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    color: #999;
}

.fl-list {
    overflow: hidden;
}

.fl-list li {
    width: 50%;
    float: left;
}

.fl-list li a {
    display: block;
    padding: 16px 0 15px 16px;
}

.fl-list li img {
    display: block;
    margin: 0;
}

.hd-list {
    padding: 5px;
    overflow: hidden;
}

.hd-list li {
    width: 50%;
    float: left;
}

.hd-list li a {
    display: block;
    padding: 5px;
}

.hd-list li img {
    display: block;
    margin: 0;
}

.news-list li a {
    display: block;
    padding: 8px 10px 8px 97px;
    line-height: 17px;
    position: relative;
}

.news-list li a img {
    width: 75px;
    height: 55px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.news-list li h3 {
    margin-bottom: 3px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-list li p {
    font-size: 12px;
    color: #797979;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-list li span {
    font-size: 12px;
    color: #999;
}

.about-img {
    padding: 10px 0;
}

.about-img img {
    display: block;
    margin: 0;
}

.wz_list {
    padding-top: 5px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
    background: #fff;
}

.wz_list .ui-row-flex {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin: 4px 0 8px 0;
}

.wz_list .ui-col {
    width: 28%;
    text-align: center;
}

.wz_list .ui-col:first-child {
    width: 16%;
}

.wz_list .ui-col p {
    color: #0995F7;
    line-height: 20px;
}

.wz_list .wz {
    color: #BCBCBC;
    font-size: 12px;
}

.wz_list input {
    display: inline-block;
    width: 18px;
    margin: 0;
    top: -11px;
}

.wz_date {
    padding-left: 45px;
    color: #9B9B9B;
}

.wz_list .ui-form-item-checkbox {
    padding-left: 30px;
    position: relative;
}

.wz_list .ui-checkbox {
    position: absolute;
    width: 18px;
    height: 30px;
    top: 15px;
    left: 15px;
}

.all_b {
    padding: 0 15px 10px 15px;
}

.all_b li {
    padding: 3px 0;
    line-height: 20px;
    font-size: 13px;
    color: #999;
}

.all_b li img {
    float: left;
    width: 16px;
    margin-right: 5px;
}

.all_b li span {
    display: table;
}

.wzinfo span {
    color: #333;
}

.ycl,
.wcl,
.clz {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.ycl img,
.wcl img,
.clz img {
    width: 22px;
    vertical-align: bottom;
    margin-right: 3px;
}

.ycl {
    color: #08BB07;
}

.wcl {
    color: #F43530;
}

.clz {
    color: #EB8A00;
}

.tip {
    padding: 12px 15px 12px 0;
    margin-left: 15px;
    line-height: 18px;
    font-size: 12px;
    color: #F43530;
}

.tip img {
    width: 18px;
    float: left;
    padding-right: 5px;
}

.sum_m {
    font-size: 12px;
    padding-left: 10px;
    line-height: 18px;
}

.sum_m p {
    color: #9A9A9A;
}

.wz_f {
    box-shadow: 0px 0px 5px #d9c5c5;
}

.wz_f li {
    padding: 0;
    height: 100%;
}

.wz_f span {
    font-size: 14px;
}

.wz_f ul {
    height: 100%;
}

.wz_f .ui-checkbox {
    width: 18px;
}

.ui-footer {
    height: 46px;
}

.ui-checkbox input:before,
.ui-checkbox-s input:before {
    font-size: 24px;
}

.f_btn {
    right: 0;
    position: absolute;
}

.f_btn a {
    height: 100%;
    padding: 0 20px;
    border-radius: 0;
    line-height: 46px;
    font-size: 14px;
}

.bj-more {
    height: 35px;
    background: #d8ecff;
    line-height: 35px;
    text-align: center;
}

.bj-more a {
    color: #248ff2;
    font-size: 14px;
}

.bj-more i {
    display: inline-block;
    line-height: 35px;
    font-size: 18px;
    color: #248ff2;
}

.swiper-slide {
    height: 156px;
    background: #3aa0ff;
    color: #fff;
}

.cinfo-t {
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

.cinfo-t h3 {
    font-size: 21px;
}

.cinfo-b {
    padding: 10px 0 16px 0;
    overflow: hidden;
}

.cinfo-b li {
    width: 33.3%;
    float: left;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
}

.cinfo-b li span {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.cinfo-tr {
    height: 42px;
    padding-right: 10px;
    line-height: 42px;
    text-align: right;
    font-size: 13px;
    color: #999;
}

.cinfo-tr span {
    color: #e26a00;
}

.cinfo-tr i {
    display: inline-block;
    line-height: 35px;
    font-size: 20px;
    color: #e26a00;
}

.tck-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
}

.px-con {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
}

.px-menu {
    margin: 0 15px;
    background: #fff;
    border-radius: 3px;
}

.px-menu li {
    height: 46px;
    line-height: 46px;
    text-align: center;
}

.px-menu li a {
    display: block;
    color: #666;
}

.px-menu li a.px_active {
    color: #e26a00;
}

.qx-btn {
    height: 46px;
    margin: 10px 15px;
    background: #fff;
    border-radius: 3px;
    line-height: 46px;
    text-align: center;
}

.addcar_form .ui-form-item .ui-icon-info {
    position: absolute;
    top: 1px;
    right: 6px;
    color: #019EF0;
    font-size: 30px;
}

.addcar_form label {
    color: #000;
}

.addcar_form .ui-form-item-checkbox {
    padding: 15px;
    font-size: 12px;
}

.sinput_box {
    background: #fff;
}

.addcar_form .ui-form-item-checkbox a {
    color: #7688AC;
}

.addcar_form .ui-form-item {
    height: 49px;
    line-height: 48px;
    padding: 0;
    margin-left: 15px;
    font-size: 16px;
}

.ui-form-item-link:after {
    font-size: 22px!important;
    font-weight: bold;
}

.addcar_form .ui-btn-wrap {
    background: #F0F0F0;
}

.img100 {
    width: 100%;
}

.footer {
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
}

.line01 {
    height: 20px;
    border-bottom: 1px solid #DDDDDD;
}

.footer span {
    top: -13px;
    position: relative;
    background: #F0F0F0;
    padding: 0 10px;
    color: #434343;
    font-size: 15px;
}

.footer li img {
    width: 40px;
}

.footer li p {
    font-size: 12px;
    color: #666666;
    padding: 5px;
}

.footer ul {
    margin: 5px 0;
}

.cxlast-box {
    padding-bottom: 15px;
}

.cxlast-box h3 {
    padding: 15px 16px 3px 16px;
    background: #fff;
    font-size: 15px;
    color: #666;
}

.cxlast-box ul {
    background: #fff;
    padding: 5px 8px 15px 8px;
    overflow: hidden;
}

.cxlast-box li {
    width: 33.3%;
    float: left;
}

.cxlast-box li a {
    height: 30px;
    display: block;
    margin: 0 8px;
    border-radius: 3px;
    background: #dff2ff;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #1380d7;
}

.cgs-box {
    width: 90%;
    height: 220px;
    margin-left: -45%;
    margin-top: -110px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
}

.cgs-bt {
    height: 45px;
    background: #2099ff;
    border-radius: 3px 3px 0 0;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.cgs-bc {
    padding: 25px 25px 0 25px;
    overflow: hidden;
}

.cgs-bc li {
    width: 50%;
    float: left;
    font-size: 15px;
    text-align: center;
    color: #1778df;
}

.cgs-bc li img {
    width: 90px;
}

.news-box {
    background: #fff;
}

.news-tab {
    height: 40px;
    line-height: 40px;
}

.news-tab li {
    width: 23%;
    float: left;
    text-align: center;
}

.news-tab li.newstab-last {
    width: 8%;
    line-height: 36px;
    text-align: left;
    position: relative;
}

.news-tab li a {
    display: block;
    height: 40px;
    color: #666;
    font-size: 15px;
}

.news-tab li a.ntab_cur {
    color: #078ce9;
}

.news-tab li .newsmore {
    width: 100px;
    position: absolute;
    top: 37px;
    right: 8px;
    z-index: 999;
}

.news-tab li .newsmore ul {
    padding: 3px 0;
    -webkit-border-image: url(../images/tabtc-bg1.png) 10 10 round;
}

.news-tab li .newsmore li {
    width: auto;
    float: none;
}

.news-tab li .newsmore li a {
    height: auto;
    line-height: 34px;
    text-align: center;
}

.tabtc-ar {
    width: 9px;
    height: 5px;
    position: absolute;
    top: -4.5px;
    right: 10px;
    background: url(../images/tabtc-bg2.png);
    background-size: cover;
}

.news-con {
    padding-left: 12px;
}

.news-con li a {
    display: block;
    height: 66px;
    padding: 12px 12px 12px 102px;
    line-height: 17px;
    position: relative;
}

.news-con li a img {
    width: 90px;
    height: 66px;
    position: absolute;
    top: 12px;
    left: 0px;
}

.news-con li h3 {
    height: 46px;
    line-height: 21px;
    font-size: 15px;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.news-con li span {
    font-size: 13px;
    color: #999;
}

.news-con li:first-child {
    background: none;
    border: none;
}

.news-detail {
    padding: 15px 15px 10px 15px;
    background: #fff;
}

.news-detail h3 {
    font-size: 20px;
    color: #444;
}

.news-detail h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}

.news-detail p {
    line-height: 28px;
    font-size: 16px;
    color: #555;
}

.news-detail img {
    max-width: 100%;
    margin: 0;
}

.car-tinfo {
    padding: 12px 15px;
    background: #3aa0ff;
    font-size: 13px;
    color: #fff;
}

.car-tinfo dt {
    height: 32px;
    margin-bottom: 5px;
    line-height: 32px;
    overflow: hidden;
}

.car-tinfo dt span {
    float: left;
    margin-right: 8px;
    font-size: 21px;
}

.car-tinfo dd span {
    color: #fff82d;
}

.order_date {
    padding: 3px 0 8px 0;
    margin: 0 0 8px 15px;
    color: #9B9B9B;
}

.wz-zkbox {
    height: 40px;
    background: #2c96f9;
    line-height: 40px;
}

.wz-zkbox a {
    display: block;
    padding: 0 5px 0 15px;
    color: #fff;
    font-size: 13px;
}

.wz-zkbox i {
    float: right;
    color: #fff;
}

.buylist h5 {
    padding: 20px 15px 10px 15px;
    color: #676767;
}

.buylist li {
}

.buylist p {
    font-size: 16px;
    color: #555;
}

.buylist li img {
    float: left;
    margin-right: 5px;
}

.buylist .ui-checkbox input:before,
.ui-checkbox-s input:before {
    font-size: 26px!important;
}

.color-g {
    color: #0da100;
}

.color-y {
    color: #ea7313;
}

.pri-list {
    margin-bottom: 10px;
    background: #fff;
}

.pri-list h3 {
    height: 42px;
    margin-left: 15px;
    line-height: 42px;
    color: #555;
    font-size: 15px;
}

.pri-list h3 img {
    float: left;
    margin: 13px 3px 0 0;
}

.pri-list ul {
    padding: 8px 15px;
}

.pri-list ul li {
    padding: 4px 0 4px 76px;
    line-height: 22px;
    font-size: 15px;
    color: #333;
    position: relative;
}

.pri-list ul li span {
    width: 76px;
    height: 30px;
    line-height: 30px;
    color: #888;
    position: absolute;
    top: 0;
    left: 0;
}

.pri-list ul li span em {
    font-style: normal;
    color: #f18200;
}

.pri-list a {
    display: block;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    color: #029ef1;
}

.infobox {
    margin-top: 15px;
    background: #fff;
}

.infobox ul {
    padding-left: 15px;
}

.infobox li {
    min-height: 24px;
    padding: 11px 0 11px 110px;
    line-height: 24px;
    color: #777;
    position: relative;
}

.infobox li label {
    width: 110px;
    height: 24px;
    padding-top: 11px;
    line-height: 24px;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
}

.infobox li:last-child {
    background: none;
    border: none;
}

.infobox li span {
    color: #f48400
}

.info-title {
    padding: 16px 0 6px 15px;
    font-size: 15px;
    color: #0c75d4;
}

.imgupload {
    background: #fff;
}

.imgupload ul {
    padding: 8px;
    overflow: hidden;
}

.imgupload li {
    width: 125px;
    padding: 7px 0;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #666;
}

.imgupload li a {
    display: block;
}

.imgupload li img {
    width: 80px;
    height: 80px;
}

.infoinput {
    margin: 0;
}

.inf-input {
    width: 100%;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
}

.taginfo {
    margin-left: 5px;
    font-size: 12px;
    color: #888;
}

/*支付成功界面*/
.pay_success {
    margin: 20px 13px;
    background: white;
    border-radius: 5px;
}

.pay_tip img {
    width: 43%;
}

.pay_tip {
    font-size: 18px;
    padding: 10px 0;
    color: #09BB07;
}

.pay_success span {
    color: red;
}

.pay_success ul {
    border-radius: 5px;
}

.pay_success .ui-border-b {
    border-color: #EBEBEB!important;
}

.pay_success h4 {
    font-size: 15px!important;
}

.pay_success li {
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

.pay_success .ui-list-action {
    color: gray;
}

.pay_btn.ui-btn-wrap {
    padding: 10px 15px;
}

.pay_btn.ui-btn-wrap button {
    background: #09BB07;
    color: white;
}

.inftag-box {
    padding-top: 40px;
    text-align: center;
    font-size: 13px;
    color: #3790ce;
}

.inftag-box p {
    padding-top: 10px;
}

.mj-toptext {
    padding: 12px 15px 15px 15px;
    background: #edf9ff;
    line-height: 23px;
    font-size: 13px;
    color: #444;
}

.mj-toptext h3 {
    margin-bottom: 3px;
    line-height: 30px;
    font-size: 14px;
    color: #444;
}

.mj-toptext h3 a {
    float: right;
    line-height: 30px;
    font-size: 14px;
    color: #008dd6;
}

.mj-toptext h3 i {
    width: 20px;
    float: right;
    line-height: 30px;
    font-size: 20px;
    color: #008dd6;
}

.mj-toptext li span {
    color: #f30000;
}

.pad-top {
    padding-top: 40px;
}

.inf-title {
    padding: 15px 15px 8px 15px;
    color: #666;
    font-size: 13px;
}

.pro-select {
    background: #fff;
}

.pro-select ul {
    padding: 0 15px;
    overflow: hidden;
}

.pro-select li {
    width: 33.3%;
    float: left;
    padding: 10px 0;
    color: #444;
    position: relative;
}

.pro-select li input {
    width: 15px;
}

.inf-tck {
    position: absolute;
    top: 1px;
    right: 6px;
    color: #019EF0;
    font-size: 30px;
}

.f-txtbg {
    padding-bottom: 15px;
}

.f-text {
    padding: 15px 15px 0 15px;
    font-size: 13px;
    color: #555;
}

.f-text h3 {
    margin-bottom: 5px;
    font-size: 15px;
    color: #008dd6;
}

.f-text h4 {
    margin-bottom: 3px;
    font-size: 13px;
    color: #333;
}

.f-text p {
    margin-bottom: 3px;
    line-height: 21px;
}

.mj-slimg {
    width: 80%;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 50%;
    margin-left: -40%;
    z-index: 999;
}

.mj-slimg img {
    max-width: 100%;
    border-radius: 5px;
}

.cl-banner {
    margin-bottom: 10px;
}

.cl-banner img {
    max-width: 100%;
    display: block;
}

.cl-list {
    background: #fff;
    margin-bottom: 10px;
}

.cl-list h3 {
    height: 22px;
    padding: 12px 0;
    margin-left: 15px;
    line-height: 22px;
    font-size: 18px;
    color: #333;
}

.cl-list h3 img {
    width: 22px;
    float: left;
    margin-right: 3px;
}

.cl-list h3 i {
    float: right;
    line-height: 22px;
    color: #58c2ff;
}

.cl-list ul {
    padding: 9px 0;
    overflow: hidden;
}

.cl-list li {
    width: 33.3%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.cl-list li span {
    display: block;
    font-size: 16px;
    color: #f53c3c;
}

.addcar-btn {
    padding: 15px;
}

.addcar-btn i {
    margin-right: 3px;
    display: inline;
    line-height: 44px;
    font-size: 30px;
    color: #fff;
    vertical-align: middle;
}

.car-dt {
    padding: 18px 5px 16px 15px;
    background: #fff;
    overflow: hidden;
}

.car-dt img {
    width: 21px;
    float: left;
}

.car-dt dl {
    float: left;
    padding-left: 5px;
}

.car-dt dt {
    margin-bottom: 3px;
    line-height: 21px;
    font-size: 20px;
    color: #333;
}

.car-dt dd {
    font-size: 15px;
    color: #666;
}

.car-dt a {
    float: right;
    margin-top: 13px;
    line-height: 22px;
    font-size: 14px;
    color: #888;
}

.car-dt a i {
    float: right;
    line-height: 22px;
    font-size: 26px;
    color: #888;
}

.car-dc {
    padding: 6px 5px 4px 15px;
    margin-bottom: 10px;
    background: #fff;
}

.car-dc img {
    display: block;
}

.car-dc a {
    float: right;
    margin-top: 19px;
    line-height: 22px;
    font-size: 14px;
    color: #888;
}

.car-dc a i {
    float: right;
    line-height: 22px;
    font-size: 26px;
    color: #888;
}

.car-dbtn {
    margin-top: 25px;
    background: #fff;
}

.car-dbtn ul {
    overflow: hidden;
}

.car-dbtn li {
    width: 50%;
    height: 46px;
    float: left;
    line-height: 46px;
    text-align: center;
}

.car-dbtn li a {
    display: block;
}

.car-dbtn li a i {
    display: inline-block;
    width: 24px;
    height: 46px;
    margin-right: 5px;
    vertical-align: middle;
}

.car-dedit {
    color: #0a95f7;
}

.car-dedit i {
    background: url(../images/car-dedit.png) no-repeat 0 9px;
    background-size: 24px 24px;
}

.car-ddel {
    color: #f00;
}

.car-ddel i {
    background: url(../images/car-ddel.png) no-repeat 0 9px;
    background-size: 24px 24px;
}

.memtop {
    background: #3aa0ff;
    color: #fff;
}

.userimg {
    border-radius: 50%;
}

.mem-tb {
    padding-bottom: 10px;
    overflow: hidden;
}

.mem-tb li {
    width: 33.3%;
    float: left;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
}

.mem-tb li a {
    display: block;
    color: #fff;
}

.mem-tb li span {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.meminfo-list {
    margin: 15px 0;
    background: #fff;
}

.meminfo-list ul {
    padding-left: 15px;
}

.meminfo-list li {
    height: 44px;
    line-height: 44px;
}

.meminfo-list li a {
    display: block;
    font-size: 15px;
    color: #444;
}

.meminfo-list li span {
    width: 24px;
    height: 24px;
    float: left;
    margin: 10px 7px 0 0;
    background-image: url(../images/hyicon.png);
    background-size: 99px 49px;
}

.meminfo-list li i {
    float: right;
    color: #aaa;
    font-size: 28px;
}

.meminfo-list li:last-child {
    border: none;
    background: none;
}

.memlist-icon1 {
    background-position: -25px 0px;
}

.memlist-icon2 {
    background-position: -50px 0px;
}

.memlist-icon3 {
    background-position: -75px 0px;
}

.memlist-icon4 {
    background-position: 0 -25px;
}

.memlist-icon5 {
    background-position: -25px -25px;
}

.memlist-icon6 {
    background-position: -50px -25px;
}

.memlist-icon7 {
    background-position: -75px -25px;
}

.memlist-icon8 {
    background-position: 0 0;
}

.qlogin-btn {
    height: 44px;
    margin: 15px 0;
    background: #fff;
    line-height: 44px;
    text-align: center;
}

.qlogin-btn a {
    display: block;
    color: #f70000;
}

.bal-con {
    padding: 20px 0;
    text-align: center;
}

.bal-con h3 {
    font-size: 48px;
}

.bal-btn {
    height: 48px;
    background: #2591f5;
}

.bal-btn li {
    width: 50%;
    height: 24px;
    float: left;
    padding: 12px 0;
}

.bal-btn li a {
    display: block;
    height: 24px;
    font-size: 17px;
    color: #fff;
}

.bal-bl {
    width: 50%;
    float: left;
    text-align: right;
}

.bal-bl span {
    float: right;
}

.bal-br {
    width: 50%;
    float: left;
    line-height: 24px;
}

.bal-btn li span {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-image: url(../images/zhicon.png);
    background-size: 49px 49px;
}

.bal-icon1 {
    background-position: -25px 0px;
}

.bal-icon2 {
    background-position: 0 -25px;
}

.bal-list {
    background: #fff;
}

.bal-list dl:last-child {
    background: none;
    border: none;
}

.bal-list dl {
    padding: 8px 15px;
    font-size: 13px;
    color: #999;
    overflow: hidden;
}

.bal-list dt {
    float: left;
}

.bal-list dd {
    float: right;
    text-align: right;
}

.bal-list p {
    font-size: 15px;
    color: #333;
}

.bal-list p.color-g {
    color: #0da100;
}

.jf-btn {
    height: 48px;
    background: #2591f5;
}

.jf-btn a {
    display: block;
    padding-left: 15px;
    line-height: 48px;
    color: #fff;
}

.jf-btn span {
    width: 24px;
    height: 24px;
    float: left;
    margin: 12px 5px 0 0;
    background: url(../images/zhicon.png) no-repeat 2px 2px;
    background-size: 49px 49px;
}

.jf-btn i {
    float: right;
    line-height: 48px;
    color: #fff;
}

.inv-box {
    background: #f43443;
}

.inv-bt img {
    display: block;
}

.inv-bc {
    padding: 25px 15px;
}

.inv-bc a {
    display: block;
    height: 44px;
    background: #fffb44;
    border-radius: 100px;
    line-height: 44px;
    font-size: 20px;
    color: #b20107;
    text-align: center;
}

.inv-bf {
    padding: 15px;
}

.inv-rtitle {
    padding-bottom: 10px;
    font-size: 17px;
    text-align: center;
    color: #fffb44;
}

.inv-rcon {
    padding: 15px;
    background: #fffb44;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
}

.dl-ct {
    height: 220px;
    margin-bottom: 15px;
    background: url(../images/dl-bg.png) no-repeat;
    background-size: cover;
}

.dl-usimg {
    height: 138px;
    padding-top: 22px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.dl-usimg img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.dl-usinfo {
    height: 60px;
    background: url(../images/dl-cinbg.png);
    overflow: hidden;
}

.dl-usinfo li {
    width: 50%;
    float: left;
    padding-top: 6px;
    font-size: 13px;
    text-align: center;
    color: #fff;
}

.dl-usinfo li span {
    display: block;
    line-height: 28px;
    font-size: 22px;
}

.dl-menu {
    background: #fff;
    margin-bottom: 15px;
    overflow: hidden;
}

.dl-menu li {
    width: 33.3%;
    height: 90px;
    float: left;
}

.dl-menu li a {
    display: block;
    height: 76px;
    padding-top: 14px;
    text-align: center;
    color: #000;
    font-size: 14px;
}

.dl-menu li a em {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 95px 230px;
}

.dl-micon1 {
    background: url(../images/dl-icon.png) no-repeat 3px -28px;
}

.dl-micon2 {
    background: url(../images/dl-icon.png) no-repeat 3px -63px;
}

.dl-micon3 {
    background: url(../images/dl-icon.png) no-repeat 3px 4px;
}

.dl-micon4 {
    background: url(../images/dl-icon.png) no-repeat 6px -100px;
}

.dl-micon5 {
    background: url(../images/dl-icon.png) no-repeat 4px -168px;
}

.dl-micon6 {
    background: url(../images/dl-icon.png) no-repeat 4px -134px;
}

.dl-micon7 {
    background: url(../images/dl-icon.png) no-repeat -66px -62px;
}

.dl-micon8 {
    background: url(../images/dl-icon.png) no-repeat -66px 5px;
}

.dl-micon9 {
    background: url(../images/dl-icon.png) no-repeat -65px -28px;
}

.dl-cbox {
    background: #fff;
    margin-bottom: 15px;
}

.dl-cbox h3 {
    height: 43px;
    margin-left: 15px;
    line-height: 43px;
    font-size: 13px;
    color: #888;
}

.dl-cbox ul {
    overflow: hidden;
    padding: 8px 0;
}

.dl-cbox li {
    width: 50%;
    float: left;
}

.dl-cbox li a {
    display: block;
    height: 24px;
    padding: 8px 0 8px 15px;
    line-height: 24px;
    color: #000;
    font-size: 15px;
}

.dl-cbox li em {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 10px;
    background-size: 95px 230px;
}

.dl-ywicon1 {
    background: url(../images/dl-icon.png) no-repeat 2px -208px;
}

.dl-ywicon2 {
    background: url(../images/dl-icon.png) no-repeat -34px 3px;
}

.dl-ywicon3 {
    background: url(../images/dl-icon.png) no-repeat -33px -34px;
}

.dl-ywicon4 {
    background: url(../images/dl-icon.png) no-repeat -34px -67px;
}

.dl-ywicon5 {
    background: url(../images/dl-icon.png) no-repeat -34px -103px;
}

.dl-ywicon6 {
    background: url(../images/dl-icon.png) no-repeat -33px -137px;
}

.dl-ywicon7 {
    background: url(../images/dl-icon.png) no-repeat -34px -172px;
}

.dl-ywicon8 {
    background: url(../images/dl-icon.png) no-repeat -34px -206px;
}

.fw-list {
    padding-left: 15px;
    background: #fff;
}

.fw-list li {
    padding: 15px 0;
    overflow: hidden;
}

.fw-list li a {
    color: #333;
}

.fw-list li span {
    float: right;
    padding-top: 7px;
    color: #999;
    font-size: 36px;
}

.fw-list li img {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 8px;
    border-radius: 50%;
}

.fw-list li h3 {
    padding-top: 6px;
}

.fw-list li p {
    font-size: 18px;
    color: #f00;
}

.fwb-box {
    background: #fff;
    margin-bottom: 44px;
}

.fwb-t {
    padding: 15px;
    overflow: hidden;
}

.fwb-t img {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 8px;
    border-radius: 50%;
}

.fwb-t h3 {
    padding-top: 6px;
}

.fwb-t p {
    font-size: 18px;
    color: #f00;
}

.fw-fbtn {
    width: 100%;
    height: 44px;
    background: #019ef0;
    position: fixed;
    left: 0;
    bottom: 0;
}

.fw-fbtn a {
    display: block;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.notice_con {
    padding: 10px 15px;
    font-size: 14px;
    color: #464646;
}

.notice_con img {
    max-width: 100%;
}

.bj-tnav {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.bjnav-ul {
    height: 44px;
}

.tabs-li {
    width: 25%;
    height: 44px;
    float: left;
    line-height: 44px;
    font-size: 15px;
    text-align: center;
    color: #464646;
}

.tabs-li em {
    display: inline-block;
    width: 24px;
    line-height: 30px;
    vertical-align: middle;
    color: #666;
}

.bjnav_cur {
    color: #ff4242;
}

.bjnav_cur em {
    color: #ff4242;
}

.bj-tcbg {
    position: fixed;
    top: 44px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
}

.dq-com {
    width: 100%;
    height: 65%;
    background: #fff;
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 9998;
}

.dq-com ul {
    width: 50%;
    height: 100%;
    float: left;
    overflow: auto;
}

.sf_cur {
    background: #f3f3f3;
}

.bj-city {
    background: #f3f3f3;
}

.city_cur {
    color: #ff0000;
}

.xl-menu {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    line-height: 40px;
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 9998;
}

.mnav-menu {
    width: 100%;
    padding-top: 8px;
    background: #fff;
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 9998;
}

.mnav-com {
    padding: 5px 15px;
    text-align: left;
}

.mnav-com li {
    margin-bottom: 8px;
}

.mnav-com li p {
    line-height: 26px;
    font-size: 14px;
}

.mnav-input {
    width: 100%;
    height: 28px;
    padding: 3px 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    background: #f0f0f0;
    text-indent: 0.5em;
}

.mnav-com li span {
    display: inline-block;
    width: 98px;
    height: 32px;
    margin-right: 12px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background: #f0f0f0;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}

.mnav-com li span.cgs_cur {
    border: 1px solid #0289f2;
    background: #fff;
    color: #0289f2;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .mnav-com li span {
        height: 34px;
        line-height: 34px;
        position: relative;
        border: 0;
    }

    .mnav-com li span:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #f0f0f0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 4px;
        pointer-events: none;
    }

    .mnav-com li span.cgs_cur {
        position: relative;
        border: 0;
    }

    .mnav-com li span.cgs_cur:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #0289f2;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 4px;
        pointer-events: none;
    }

}

.mnav-btn {
    height: 44px;
    padding: 0 15px;
    background: #f0f0f0;
    line-height: 44px;
    text-align: left;
}

.mnav-btn span {
    font-size: 14px;
    color: #666;
}

.mnav-btn button {
    width: 74px;
    height: 30px;
    float: right;
    margin-top: 7px;
    border-radius: 2px;
    background: #0289f2;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.bj-com {
    padding-top: 54px;
}

.bj-list {
    background: #fff;
    margin-bottom: 10px;
}

.bj-lc {
    padding: 0 15px;
}

.bj-lc h3 {
    padding: 14px 0 7px 0;
    font-size: 15px;
}

.bj-lc h3 span {
    float: right;
    font-size: 14px;
}

.bj-lc li {
    padding: 2px 0 2px 72px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    position: relative;
    min-height: 22px;
}

.bj-lc li span {
    width: 72px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: 2px;
    left: 0;
}

.bj-lb {
    height: 26px;
    padding: 9px 0;
    margin-top: 5px;
    text-align: right;
}

.bj-lb button {
    height: 26px;
    padding: 0 12px;
    margin-right: 15px;
    font-size: 13px;
    color: #767676;
}

/*提现*/
.ui-list.in_carlist {
    background: #F0F0F0;
    padding-top: 10px;
}

.txt-right {
    float: right;
    font-size: 14px;
    color: #999;
}

.tx-top {
    padding: 20px 10px;
    color: #333;
}

.tx-for {
    padding: 15px 0;
    text-align: right;
}

.tx-for a {
    color: #009be4;
}

.tx-list {
    padding: 0 10px;
    margin: 0 8px 10px 8px;
    border-radius: 3px;
    background: #fff;
}

.tx-lt {
    padding-top: 15px;
}

.tx-lt h3 {
    font-size: 18px;
    color: #444;
}

.tx-lt p {
    color: #999;
}

.tx-lc {
    padding: 20px 0;
    text-align: center;
    color: #999;
}

.tx-lc span {
    font-size: 46px;
    color: #333;
}

.tx-lb {
    padding-bottom: 15px;
}

.tx-lb li {
    overflow: hidden;
    line-height: 22px;
    font-size: 15px;
    color: #868686;
    margin: 8px 5px 0 5px;
    background: white;
}

.tx-lb li span {
    width: 85px;
    float: left;
    color: #333;
}

.m_footer {
    height: 70px;
}

/*商城样式*/
/*首页*/
.ind-mc {
    background: #fff;
    margin-bottom: 49px;
}

.mc-title {
    height: 44px;
    padding: 0 15px;
    line-height: 44px;
    font-size: 15px;
    color: #565656;
}

.mc-title em {
    width: 2px;
    height: 14px;
    float: left;
    margin: 15px 10px 0 0;
    background: #1296db;
    overflow: hidden;
}

.mc-plist {
    overflow: hidden;
}

.mc-plist li {
    width: 50%;
    height: 170px;
    float: left;
    text-align: center;
}

.mc-plist li a {
    display: block;
    height: 160px;
    padding: 5px 10px;
}

.p-img img {
    width: 110px;
    height: 110px;
}

.p-inf {
    font-size: 13px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mc-plist li span {
    display: block;
    font-size: 13px;
    color: #999;
}

.mc-plist li span em {
    font-style: normal;
    color: #ff801a;
}

/*订单列表*/
.or-tabs {
    width: 100%;
    height: 44px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.or-tabs ul {
    overflow: hidden;
}

.or-tabs li {
    width: 25%;
    float: left;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    color: #333;
}

.or-tabs li.tabs_cur {
    color: #f00;
}

.order-box {
    padding-top: 54px;
}

.order-list {
    background: #fff;
    margin-bottom: 10px;
}

.or-lt {
    height: 40px;
    padding: 0 15px;
    line-height: 44px;
    font-size: 15px;
    color: #888;
    overflow: hidden;
}

.or-lt span {
    float: right;
}

.g-text {
    color: #00ab18;
}

.or-pinfo p {
    color: #666;
}

.or-infbox {
    padding: 12px 15px;
    margin: 0;
}

.or-lb {
    height: 36px;
    padding: 8px 15px 0 15px;
    text-align: right;
}

.or-lb button {
    padding: 0px 10px;
    height: 28px;
    font-size: 13px;
    color: #666;
}

.pinfo-mt {
    background: #fff;
    padding: 8px 15px;
    margin-bottom: 10px;
    overflow: hidden;
}

.pinfo-ml {
    width: 80px;
    height: 80px;
    float: left;
    padding: 1px;
    margin-right: 10px;
}

.pinfo-ml img {
    width: 100%;
    height: 100%;
}

.pinfo-mr h3 {
    padding-top: 3px;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pinfo-mr span {
    display: block;
    padding: 4px 0;
    color: #999;
    font-size: 14px;
}

.pinfo-mr p {
    color: #fa5e00;
    font-size: 14px;
}

/*产品详情*/
.flicking_con {
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 22px;
    text-align: center;
}

.flicking_con a {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 50%;
    background: #f3f3f3;
}

.flicking_con a.on {
    background: #00a8ff;
}

.pimg-box {
    height: 260px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.pimg-list {
    height: 260px;
    overflow: hidden;
    position: relative;
}

.pimg-list ul {
    width: 9999px;
    height: 260px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.pimg-list li {
    float: left;
    width: 100%;
    height: 260px;
    text-align: center;
}

.pimg-list li a {
    display: block;
}

.pimg-list li img {
}

.pro-main {
    background: #fff;
    margin-bottom: 10px;
}

.pro-mb {
    padding: 10px 15px 0px 15px;
    line-height: 20px;
    color: #333;
    font-size: 14px;
}

.pro-jj {
    padding: 5px 15px;
    line-height: 20px;
    color: #f00;
    font-size: 12px;
}

.pro-mc {
    padding: 0 15px 15px 15px;
    line-height: 20px;
    font-size: 14px;
    color: #fa5e00;
}

.pro-mc em {
    float: left;
    margin-right: 3px;
    font-size: 20px;
    font-style: normal;
}

.pro-mc span {
    float: right;
    color: #999;
}

.pro-md {
    padding: 10px 15px;
    background: #fcfcfc;
    font-size: 14px;
    color: #999;
}

.pro-info {
    background: #fff;
}

.pro-intitle {
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 13px;
    color: #666;
}

.pro-intitle em {
    width: 4px;
    height: 7px;
    margin: 17px 5px 0 0;
    background-image: url(../images/jf-icon.png);
    background-size: 240px 182px;
    background-position: -40px -30px;
    float: left;
}

.pro-incon {
    padding: 10px 15px;
}

.pro-incon img {
    max-width: 100%;
}

.f-btn {
    padding: 5px 15px;
    background: #f9f9f9;
}

.f-btn button {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 3px;
    background: #0b8ff5;
    font-size: 15px;
    color: #fff;
}

.ptc-box {
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}

.padd-lr {
    padding: 0 10px 50px 10px;
}

.ptc-ma {
    height: 110px;
    padding-left: 130px;
    position: relative;
}

.ptc-mal {
    width: 114px;
    height: 114px;
    padding: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 15px;
}

.ptc-mal img {
    width: 114px;
    height: 114px;
    border-radius: 4px;
}

.ptc-mar {
    float: right;
    padding-top: 10px;
}

.ptc-mar a {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/cj-closebtn.png);
    background-size: 24px 24px;
}

.ptc-mac {
    padding-top: 15px;
}

.ptc-mac li {
    color: #464646;
    font-size: 14px;
}

.ptc-mac li span {
    font-size: 20px;
    color: #fa0000;
}

.ptc-con {
    max-height: 282px;
    overflow: auto;
}

.ptc-mb {
    padding: 10px 0 5px 0;
}

.ptc-mb h3 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}

.ptc-mb ul {
    overflow: hidden;
}

.ptc-mb li {
    min-width: 30px;
    height: 28px;
    padding: 0 8px;
    float: left;
    margin: 0 12px 8px 0;
    background: #f5f5f5;
    border-radius: 8px;
    line-height: 28px;
    text-align: center;
    font-size: 13px;
    color: #999;
}

.ptc-mb li.mb_licur {
    background: #ff0036;
    color: #fff;
}

.ptc-mc {
    height: 62px;
}

.ptc-mc h3 {
    float: left;
    line-height: 62px;
    font-weight: normal;
    font-size: 14px;
}

.ptc-mc p {
    width: 92px;
    height: 28px;
    float: right;
    margin-top: 17px;
    text-align: center;
}

.ptc-mc em {
    width: 30px;
    height: 28px;
    float: left;
    background: #f3f2f0;
    border-radius: 4px 0 0 4px;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    color: #808080;
}

.ptc-mc i {
    width: 30px;
    height: 28px;
    float: right;
    background: #f3f2f0;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    color: #808080;
}

.ptc-mc span {
    line-height: 28px;
}

.ptc-fb {
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.ptc-fb li {
    width: 50%;
    height: 48px;
    float: left;
    text-align: center;
}

.ptc-fb li button {
    width: 100%;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    color: #fff;
    font-size: 16px;
}

.ptc-flbtn {
    background: #ff731c;
}

.ptc-frbtn {
    background: #1a85f8;
}

.plist-box {
    margin-bottom: 10px;
    background: #fff;
}

.pl-t {
    height: 43px;
}

.pl-t label {
    width: 42px;
    float: left;
    padding: 9px 0 0 10px;
}

.pl-t .ui-checkbox input:checked:before {
    color: #fd7b41;
    font-size: 28px;
}

.pl-t em {
    width: 28px;
    height: 43px;
    float: left;
    background: url(../images/shopicon.png) no-repeat 0 13px;
    background-size: 18px 17px;
}

.pl-t p {
    float: left;
    line-height: 43px;
}

.pl-t i {
    float: left;
    line-height: 43px;
    font-size: 26px;
    color: #333;
}

.pl_c {
    padding-left: 52px;
}

.pl_c li {
    height: 118px;
    padding-left: 88px;
    position: relative;
}

.pl_c li label {
    position: absolute;
    left: -42px;
    top: 42px;
}

.pl_c li .ui-checkbox input:checked:before {
    color: #fd7b41;
    font-size: 28px;
}

.c-pic {
    position: absolute;
    top: 13px;
    left: 0
}

.c-pic img {
    width: 80px;
    height: 80px;
    display: block;
}

.pl_c li h3 {
    padding-top: 12px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pl-textc {
    font-size: 18px;
    color: #e00;
}

.pl-mb {
    overflow: hidden;
    padding-right: 15px;
}

.pl-mb p {
    width: 92px;
    height: 28px;
    float: left;
    text-align: center;
}

.pl-mb em {
    width: 30px;
    height: 28px;
    float: left;
    background: #f3f2f0;
    border-radius: 4px 0 0 4px;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    color: #808080;
}

.pl-mb i {
    width: 30px;
    height: 28px;
    float: right;
    background: #f3f2f0;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    color: #808080;
}

.pl-mb span {
    line-height: 28px;
}

.pl-mb a {
    width: 17px;
    height: 21px;
    float: right;
    background: url(../images/del-btn.png) no-repeat 0 2px;
    background-size: 17px 19px;
}

.ts-right {
    width: 46px;
    height: 30px;
    padding: 4px 8px;
    background: url(../images/arrow-d.png) no-repeat 42px center;
    background-size: 7px 5px;
    line-height: 30px;
    font-size: 15px;
    color: #333;
}

.pls-tsear {
    height: 44px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.plcom-box {
    padding: 44px 0 0 100px;
    background: #f6f6f6;
}

.plc-left {
    width: 100px;
    height: 100%;
    background: #f6f6f6;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}

.plc-left ul {
    padding-top: 44px;
}

.plc-left li {
    border-left: 2px solid #f6f6f6;
    line-height: 44px;
    text-align: center;
    font-size: 13px;
    color: #494949;
    overflow: auto;
}

.plc-left li.plc_navcur {
    background: #fff;
    border-left: 2px solid #ff731c;
    color: #ff731c;
}

.sx-tab {
    height: 44px;
    background: #fff;
}

.sx-tab li {
    width: 25%;
    height: 44px;
    float: left;
    line-height: 44px;
    color: #444;
    text-align: center;
    font-size: 14px;
}

.sx-tab li em {
    display: inline-block;
    width: 7px;
    height: 26px;
    margin-left: 3px;
    background: url(../images/arrow-d.png) no-repeat 0 19px;
    background-size: 7px 5px;
}

.sx-tab li em.up {
    display: inline-block;
    width: 7px;
    height: 26px;
    margin-left: 3px;
    background: url(../images/arrow-d.png) no-repeat 0 4px;
    background-size: 7px 5px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.sx-tab li.stab_cur {
    color: #dd4b39;
}

.sx-tab li.stab_cur em {
    background: url(../images/arrow-d2.png) no-repeat 0 19px;
    background-size: 7px 5px;
}

.sx-tab li.stab_cur em.up {
    background: url(../images/arrow-d2.png) no-repeat 0 4px;
    background-size: 7px 5px;
}

.p-lsbox {
    background: #fff;
    padding-left: 10px;
}

.p-lsbox li a {
    display: block;
    min-height: 82px;
    padding: 0 0 10px 80px;
    position: relative;
}

.p-lsbox li h3 {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 10px;
    left: 0;
}

.p-lsbox li h3 img {
    width: 72px;
    height: 72px;
}

.pcon-a {
    max-height: 40px;
    padding: 10px 10px 3px 0;
    line-height: 20px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal ！important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pcon-b {
    font-size: 13px;
    color: #888;
}

.pcon-c {
    font-size: 16px;
    color: #e00;
}

/*二手车*/
.pro-me {
    padding: 8px 15px 15px 15px;
    line-height: 18px;
    font-size: 13px;
    color: #767676;
}

.pro-me span {
    float: left;
    margin-right: 8px;
    line-height: 36px;
    font-size: 34px;
    color: #fa5e00;
}

.pro-rec {
    overflow: hidden;
}

.pro-rec li {
    width: 33.3%;
    float: left;
}

.pro-rec li p {
    padding: 10px 0 10px 15px;
    line-height: 20px;
    font-size: 12px;
    color: #767676;
}

.pro-rec li span {
    display: block;
    line-height: 24px;
    font-size: 13px;
    color: #333;
}

.pro-desc {
    padding: 10px 15px 5px 15px;
    overflow: hidden;
}

.pro-desc li {
    width: 49%;
    float: left;
    padding-bottom: 5px;
    padding-left: 1%;
    line-height: 23px;
    font-size: 13px;
    color: #333;
}

.pro-desc li span {
    color: #666;
}

.more-inf {
    background: #ccc;
    line-height: 46px;
    font-size: 13px;
    text-align: center;
    color: #666;
}

.pro-tit {
    background: #fff;
    overflow: hidden;
}

.pro-tit h3 {
    padding-left: 15px;
    background: #eee;
    line-height: 32px;
    font-size: 13px;
    font-weight: normal;
}

.pro-tit ul {
    padding: 0 15px 10px 15px;
}

.pro-tit li {
    line-height: 34px;
    min-height: 34px;
    font-size: 13px;
    color: #333;
}

.pro-tit li span {
    width: 50%;
    float: left;
    color: #999;
}

.esc-banner img {
    display: block;
    width: 100%;
}

.sel-box {
    margin-top: 10px;
    background: #fff;
}

.sel-ma {
    overflow: hidden;
    padding: 10px 0;
}

.sel-ma li {
    width: 20%;
    float: left;
    text-align: center;
}

.sel-ma li a {
    display: block;
    padding: 6px 0;
    color: #333;
    font-size: 14px;
}

.sel-ma li em {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-image: url(../images/scar-icon.png);
    background-size: 192px 72px;
}

.cb-icon1 {
    background-position: 0px 0px;
}

.cb-icon2 {
    background-position: -40px 0px;
}

.cb-icon3 {
    background-position: -80px 0px;
}

.cb-icon4 {
    background-position: -120px 0px;
}

.cb-icon5 {
    background-position: -160px 0px;
}

.cb-icon6 {
    background-position: 0px -40px;
}

.cb-icon7 {
    background-position: -40px -40px;
}

.cb-icon8 {
    background-position: -80px -40px;
}

.cb-icon9 {
    background-position: -120px -40px;
}

.cb-icon10 {
    background-position: -160px -40px;
}

.sel-mb {
    overflow: hidden;
    padding: 10px 0;
}

.sel-mb li {
    width: 20%;
    float: left;
    text-align: center;
}

.sel-mb li a {
    display: block;
    padding: 6px 0;
    color: #333;
    font-size: 13px;
}

.sel-mf a {
    display: block;
    height: 40px;
    font-size: 14px;
    text-align: center;
    color: #007ce6;
}

.sel-mf em {
    display: inline-block;
    width: 12px;
    height: 40px;
    margin-left: 3px;
    background: url(../images/micon.png) no-repeat 0 13px;
    background-size: 12px 12px;
    vertical-align: middle;
}

.sc-list {
    padding: 0 15px;
    margin-top: 10px;
    background: #fff;
}

.sc-list li {
}

.sc-list li:first-child {
    background: none;
    border: none;
}

.sc-list li {
    display: block;
    height: 90px;
    padding: 15px 0 15px 145px;
;
    position: relative;
}

.sc-list li img {
    width: 135px;
    height: 90px;
    position: absolute;
    top: 15px;
    left: 0;
}

.sc-list li h3 {
    height: 40px;
    line-height: 20px;
    font-size: 15px;
    color: #333;
}

.sc-list li span {
    font-size: 13px;
    color: #999;
}

.sc-list li p {
    font-size: 18px;
    color: #ff6d02;
}

.sx-con {
    padding-top: 44px;
    background: #fff;
}

.sx-conlist h3 {
    height: 34px;
    padding: 0 15px;
    background: #f9f9f9;
    font-size: 14px;
    color: #494949;
    line-height: 34px;
}

.sx-conlist ul {
    padding: 13px 0 3px 10px;
    overflow: hidden;
}

.sx-conlist li {
    width: 33.3%;
    float: left;
}

.sx-conlist li a {
    display: block;
    margin: 0 10px 10px 0;
    padding: 7px 0;
    border: 1px solid #dedede;
    border-radius: 3px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    color: #404040;
}

.sx-conlist li a.sx-cur {
    border: 1px solid #FF6D02;
    color: #FF6D02;
}

.track-box {
    padding: 10px 50px 0 0;
    background: #f0f0f0;
    overflow: hidden;
    position: relative;
}

.track-box p {
    height: 27px;
    padding-left: 15px;
    background: url(../images/sx-delbtn.png) no-repeat 0 center;
    background-size: 12px 14px;
    line-height: 27px;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 8px;
}

.track-box li {
    height: 27px;
    float: left;
    padding-left: 8px;
    margin: 0 0 10px 8px;
    background: #fff;
    line-height: 27px;
    font-size: 13px;
    border-radius: 3px;
}

.track-box li em {
    height: 27px;
    width: 22px;
    float: right;
    background: url(../images/sx-close.png) no-repeat center center;
    background-size: 8px 8px;
}

.sp-footer {
    height: 49px;
}

.sp-fc {
    width: 100%;
    height: 49px;
    background: #f9f9f9;
    position: fixed;
    left: 0;
    bottom: 0;
}

.sp-fc ul {
    overflow: hidden;
}

.sp-fc li {
    width: 20%;
    height: 43px;
    float: left;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
    color: #666;
    position: relative;
}

.sp-fc li.lastli {
    width: 40%;
    height: 49px;
    padding: 0;
}

.sp-fc li.lastli button {
    width: 100%;
    height: 49px;
    border: none;
    background: #0b8ff5;
    font-size: 16px;
    color: #fff;
}

.sp-fc li img {
    width: 26px;
    height: 23px;
    display: block;
    margin: 0 auto;
}

.sp-fc li em {
    min-width: 8px;
    height: 16px;
    padding: 0 4px;
    border-radius: 50px;
    background: #f00;
    line-height: 16px;
    font-style: normal;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 20%;
}

